<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
  <!-- <div class="text-center mt-4"> -->

    <link href="{{ '/assets/dflip/css/dflip.min.css' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/assets/dflip/css/themify-icons.min.css' | relative_url }}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    <script src="{{ '/assets/dflip/js/libs/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/dflip/js/dflip.min.js' | relative_url }}"></script>

    <div
      class="_df_thumb"
      thumb="{{ 'assets/portfolio/portfolio_thumb.jpg' | relative_url }}"
      id="button_pdf">
        Portfolio
    </div>

    <script>
      var option_button_pdf = {
        source: Array.from({ length: 30 }, (_, i) => `/assets/portfolio/pages/page-${i}.webp`),
        webgl:true,
        webglShadow: true,
        shadowOpacity: 0.2,
        soundEnable: false,
        pageMode: DFLIP.PAGE_MODE.DOUBLE,
        singlePageMode: DFLIP.SINGLE_PAGE_MODE.AUTO,
        zoomRatio: 1.5,
        stiffness: 0,
        backgroundColor: "#b8a8cbcc",
        transparent: true,
        hard: "cover",
        allControls: "startPage,altPrev,pageNumber,altNext,zoomIn,zoomOut,pageMode,fullScreen",
      };
    </script>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

  </div>
</div>