<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap Bundle JS CDN (Includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

<!-- wow.js CDN & Activation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script> new WOW().init(); </script>

<!-- FlipBook Viewer -->
<script src="{{ '/assets/js/flipbook.js' | relative_url }}"></script>

<!-- Initialize Bootstrap tooltips if any -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
