<div class="container-fluid justify-content-center py-1">

  {% for account in site.author %}

    {%- assign service_name = account[0] -%}
    {%- assign service_data = site.data.social-media[service_name] -%}
    {%- if service_data -%}
    <a class="social-link social-{{ service_name }} mx-2"
       href="{{ service_data.url }}{{ account[1] }}"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="{{ service_name | capitalize }}">
      <i class="{{ service_data.icon }}"></i>
    </a>
    {%- endif -%}

  {% endfor %}

</div>