---
---
.df_thumb-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100%; /* Ensure it takes full height of the parent */
}

.horizontal_container {
  display: flex; /* Enables flexbox layout */
  flex-direction: row; /* Aligns children in a row */
  justify-content: space-around; /* Distributes space evenly between items */
  align-items: center; /* Centers items vertically */
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
}

.horizontal_element {
  flex: 1 1; /* Allows elements to grow and shrink, with a minimum width */
  text-align: center; /* Centers text inside the element */
}

._df_thumb {
    width: 300px;
    height: 300px;
}

.carousel-indicators,
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(60%);
}

@import "portfolYOU";
