{% assign current_lang = page.lang | default: 'en' %}

<div class="col mt-4">
  <h5 class="mb-3">{{ include.title }}</h5>

  <div class="timeline-body bg-themed">
    {% for item in site.data.experience[current_lang] %}
      <div class="timeline-item">
        <div class="content">
          <h4>{{ item.title }}</h4>
          <h5 style="font-size:80%">{{ item.location }}</h5>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.summary }}</p>
          <p>
            <ul>
              {% for highlight in item.highlights %}
                <li style="font-size:80%">{{ highlight }}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>