<div class="col mt-4">
  <div class="timeline-body bg-themed">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="content">
          <h2>{{ item.title }}</h2>
          <h5 style="font-size:80%">{{ item.location }}</h5>
          <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
          <p>{{ item.summary }}</p>
          <p>
            <ul>
              {% for highlight in item.highlights %}
              <li>{{ highlight }}</li>
              {% endfor %}
            </ul>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>